Proyecto_David_Fernández(1).json
{
  "name": "Proyecto_David_Fernández",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        1200
      ],
      "id": "ee900749-7833-413d-9d3b-926a5eb30a91",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/conocimiento.txt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -112,
        1200
      ],
      "id": "6fc91955-1f04-4710-8008-bffb60520b3c",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        },
        "clearStore": true
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        144,
        1200
      ],
      "id": "b011932d-9b43-413b-8fa5-27d452bdfa84",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        240,
        1424
      ],
      "id": "974bc383-7539-48e9-87d1-45fd86f31ca6",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        320,
        1632
      ],
      "id": "be6fdb4f-ebd6-4cd3-829f-2055d23b3b08",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        112,
        1424
      ],
      "id": "c1cb94aa-eaf3-44a6-8c5e-da6d7ec3552f",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "fOJcESz8sYrKJgQ5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -336,
        464
      ],
      "id": "0366f5f8-b412-4603-855b-fb67c5812a9b",
      "name": "Telegram Trigger",
      "webhookId": "d9f715c8-0e3a-465a-83ed-5cb2db5fa5c7",
      "credentials": {
        "telegramApi": {
          "id": "mNBuKZL63FXbzc5r",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "Eres un asistente que responde preguntas usando SOLO la información del contexto proporcionado por tus herramientas.\n\nREGLAS IMPORTANTES:\n\n    No inventes datos que no estén en el contexto.\n    Si la respuesta no se encuentra en el contexto, responde exactamente: \"No tengo esa información\".\n    Responde de forma breve y directa.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        608,
        352
      ],
      "id": "c2313611-668b-47e8-b7d5-f808febe92d1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        464,
        576
      ],
      "id": "c7a1b220-c6c3-43aa-ba43-6c290a4aa0f5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Útil para buscar CUALQUIER información sobre el curso, incluyendo temarios de los módulos, profesores, horarios de clase, asistencia, normas del aula y criterios de evaluación.",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        592,
        576
      ],
      "id": "2a4616bd-325e-4b65-8243-c00da1702c74",
      "name": "Simple Vector Store1"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        672,
        784
      ],
      "id": "f94e3126-239f-4865-9e03-9629bbc843ab",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "fOJcESz8sYrKJgQ5",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1216,
        560
      ],
      "id": "4bec2b02-c0b8-4c7e-a4ea-c42fd3050759",
      "name": "Send a text message",
      "webhookId": "bd744196-fa4e-402c-9fc6-9e2ca8612fc5",
      "credentials": {
        "telegramApi": {
          "id": "mNBuKZL63FXbzc5r",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        880,
        576
      ],
      "id": "06bac0bf-1a3e-4477-a209-b9b042e1c236",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Pensando...",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        112,
        560
      ],
      "id": "299f2907-68ad-4383-8b4b-43fbf5d8074e",
      "name": "Send a text message1",
      "webhookId": "379c314e-4734-46d5-a97f-785804ca8140",
      "credentials": {
        "telegramApi": {
          "id": "mNBuKZL63FXbzc5r",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "messageId": "={{ $('Send a text message1').item.json.result.message_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        560
      ],
      "id": "bfdf9fae-1087-41d6-8740-d5ef31bc5bdd",
      "name": "Delete a chat message",
      "webhookId": "d1fb0bef-19bb-422a-bd56-0c6af3e71a21",
      "credentials": {
        "telegramApi": {
          "id": "mNBuKZL63FXbzc5r",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "278aaa0c-c230-47c7-88f0-dd8425124868",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -112,
        464
      ],
      "id": "fe968da5-3603-447a-82bb-93ed857986fc",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Bienvenido a tu asistente virtual,  puedes preguntarme lo que quieras y el bot te responderé buscando en mi base de conocimientos, si no encuentro ahí la información pasaré a buscar información en wikipedia. ¿En que puedo ayudarte?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        112,
        368
      ],
      "id": "44c794e1-1163-469d-a86d-760cf4780014",
      "name": "Send a text message2",
      "webhookId": "95f147c7-b395-4669-a426-b6895af65ff2",
      "credentials": {
        "telegramApi": {
          "id": "mNBuKZL63FXbzc5r",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Usa esta herramienta cuando el usuario pregunte por un Pokémon concreto. Debes pasarle como parámetro el nombre del pokemon en minúsculas. El parámetro se llamará pokemonName.",
        "url": "=https://pokeapi.co/api/v2/pokemon/{{ $fromAI('pokemon_name') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1008,
        576
      ],
      "id": "cd4d5a62-9a06-48c6-87cf-dd790545d76f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        320,
        592
      ],
      "id": "039b9796-50ac-42d9-8340-b7f41f975bd0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "VwDy5A7LWCVRP7Bq",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Delete a chat message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2c0caf32-88d1-4aab-97b1-af4be9da4e6e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "163279a381fec27660b9b439162e9150407ca76081346f3ee3ae571b339b5ba1"
  },
  "id": "BSnVseHDH6pCdAfi",
  "tags": []
}